<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="col-lg-4 col-md-6 col-sm-8 col-10 shadow-lg p-5 bg-white" style="border-radius: 0.5rem">
    <form>
      <h4 class="text-center">Quên mật khẩu</h4>
      <label class="form-label p-text-login text-center m-4  mb-0" for="form2Example1">Nhập email, chúng tôi sẽ gửi một email xác nhận cho bạn.</label>
      <div class="form-outline mb-4 mt-4">
        <form [formGroup]="emailForm">
          <input formControlName="email" type="email" id="form2Example1" placeholder="tranhoanglong@gmail.com"
                 [ngStyle]="{'color': emailForm.controls.email.hasError('maxlength') ? 'red': 'black'}" class="w-100"/>
          <hr>
          <button (click)="sendEmail()" [disabled]="emailForm.invalid" class="bn19 bn632-hover w-100 mt-4">Đặt lại mật khẩu</button>
        </form>
      </div>
    </form>
  </div>
</div>
