<div class="row align-items-stretch no-gutters contact-wrap">
      <div class="col-md-12">
        <div class="form h-100">
          <form class="mb-5 shadow bg-light mt-3" id="contactForm" name="contactForm"
                [formGroup]="customerForm" *ngIf="customerForm" (ngSubmit)="update()">
            <h2 class="text-center">CHỈNH SỬA KHÁCH HÀNG</h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label" for="name">
                    Họ tên:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.name.hasError('pattern')) &&
                         (customerForm.controls.name.dirty)">
                                Tên không đúng định dạng
                            </span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.name.hasError('required'))
                        &&(customerForm.controls.name.touched)">Vui lòng điền họ và tên
                  </span>
                  </label>
                  <input type="text" class="form-control pl-2" id="name"
                         placeholder="Họ và tên" formControlName="name">
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label" for="dateOfBirth">
                    Ngày sinh:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.dateOfBirth.hasError('invalidStartDate')) &&
                         (customerForm.controls.dateOfBirth.dirty)">
                               Số tuổi ko đủ 18 hoặc lớn hơn 120 !
                            </span>
                  </label>
                  <input id="dateOfBirth" type="date" class="form-control pl-2" formControlName="dateOfBirth">
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label" for="gender">
                    Giới tính:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.gender.hasError('required')) &&
                         (customerForm.controls.gender.touched) ">
                               Chọn giới tính
                            </span>
                  </label>
                  <select id="gender" class="custom-select form-select" formControlName="gender">
                    <option [value]="" disabled selected>--Vui lòng chọn giới tính--</option>
                    <option [value]="true">Nam</option>
                    <option [value]="false">Nữ</option>
                  </select>
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label" for="idCard">
                    CMND/Hộ chiếu:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.idCard.hasError('pattern')) &&
                         (customerForm.controls.idCard.dirty)">
                               CMND không đúng định dạng
                            </span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.idCard.hasError('required'))
                        &&(customerForm.controls.idCard.touched)">Vui lòng điền CMND
                  </span>
                  </label>
                  <input id="idCard" type="text" class="form-control pl-2" placeholder="201790843" formControlName="idCard">
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label">
                    File ảnh:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.imgUrl.hasError('required'))
                        &&(customerForm.controls.imgUrl.touched)">Vui lòng thêm ảnh
                  </span>
                  </label>
                  <input type="file" class="form-control pl-2" (change)="show($event)" multiple>
                </div>
              </div>
              <div class="col-lg-6">
                <div formGroupName="address">
                  <div formGroupName="district">
                    <div class="col-md-12 form-group mb-3" formGroupName="city">
                      <label class="col-form-label" for="city">Thành phố:
                        <span style="color: red">*</span>
                        <span class="text-danger"
                              *ngIf="(customerForm.get('address').get('district').get('city').hasError('required')) &&
                          (customerForm.get('address').get('city').touched)">Vui lòng chọn thành phố
                    </span>
                      </label>
                      <select class="form-select" id="city" formControlName="id"
                              (change)="changeCity($event.target)">
                        <option [value]="0" disabled selected> Chọn thành phố</option>
                        <option *ngFor="let city of cityList " [value]="city.id">{{city.name}} </option>
                      </select>
                    </div>
                    <div class="col-md-12 form-group mb-3">
                      <label class="col-form-label" for="district">Quận:
                        <span style="color: red">*</span>
                        <span class="text-danger"
                              *ngIf="(customerForm.get('address').get('district').hasError('required')) &&
                          (customerForm.get('address').get('district').touched)">Vui lòng chọn quận/huyện
                    </span>
                      </label>
                      <select class="form-select" id="district" formControlName="id">
                        <option [value]="0" selected disabled> Chọn quận/huyện</option>
                        <option *ngFor="let district of districtList" [ngValue]="district.id">{{district.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label class="col-form-label" for="street">
                      Tên đường:
                      <span style="color: red">*</span>
                      <span class="text-danger"
                            *ngIf="(customerForm.get('address').get('street').hasError('required')) &&
                         (customerForm.get('address').get('street').touched)">Vui lòng điền tên đường
                    </span>
                      <span class="text-danger"
                            *ngIf="(customerForm.get('address').get('street').hasError('pattern')) &&
                          (customerForm.get('address').get('street').dirty)">Tên không đúng định dạng
                    </span>
                    </label>
                    <input id="street" type="text" class="form-control pl-2" placeholder="66 Hùng Vương" formControlName="street">
                  </div>
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label" for="phoneNumber">
                    SĐT:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.phoneNumber.hasError('pattern')) &&
                         (customerForm.controls.phoneNumber.dirty)">
                                SĐT không đúng định dạng (0XXXXXXXXX)
                            </span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.phoneNumber.hasError('required'))
                        &&(customerForm.controls.phoneNumber.touched)">Vui lòng điền SĐT
                  </span>
                  </label>
                  <input id="phoneNumber" type="text" class="form-control pl-2" placeholder="0905005005" formControlName="phoneNumber">
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label class="col-form-label" for="email">
                    Email:
                    <span style="color: red">*</span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.email.hasError('email')) &&
                         (customerForm.controls.email.dirty)">
                                Email không đúng định dạng
                            </span>
                    <span class="text-danger"
                          *ngIf="(customerForm.controls.email.hasError('required'))
                        &&(customerForm.controls.email.touched)">Vui lòng điền Email
                  </span>
                  </label>
                  <input id="email" type="email" class="form-control pl-2"  placeholder="httm@gmail.com"formControlName="email">
                </div>
              </div>
              <div *ngFor="let url of urlList" class="col-md-3 form-group mb-3">
                <img [src]="url" style="height: 150px; width: 150px">
              </div>
              <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                  <div class="row">
                    <div class="col-3">
                      <button style="border-radius: 2px !important;" class="btn btn-secondary"
                              type="submit" (click)="resetForm()">Hủy
                      </button>
                    </div>
                    <div class="col-9">
                      <button class="p-btn" style="margin-right:1px " type="submit">Chỉnh sửa khách hàng</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
