<footer id="footer" class="p-footer mt-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 mb-4 ps-5">
            <h2 class="footer-heading">Cầm đồ PAWN</h2>
            <p>Thiết bị an ninh bảo mật. <br>
              Phòng cháy chữa cháy đầy đủ. <br>
              Hạn chế rủi ro đối với tài sản. <br>
              Nguyên trạng khi về tay khách.</p>
          </div>
          <div class="col-md-9">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-9">
                <div class="row">
                  <div class="col-md-4 mb-4">
                    <h2 class="footer-heading"></h2>
                    <ul class="p-list-unstyled">
                      <li><a href="#" class="py-1 d-block p-link">Tính năng</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Khách hàng</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Bảng giá</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Liên hệ</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4 mb-4">
                    <h2 class="footer-heading"></h2>
                    <ul class="p-list-unstyled">
                      <li><a href="#" class="py-1 d-block p-link">Cầm đồ</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Trả góp</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Khách hàng</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Cửa hàng</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4 mb-4">
                    <h2 class="footer-heading"></h2>
                    <ul class="p-list-unstyled">
                      <li><a href="#" class="py-1 d-block p-link">Thu chi</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Nguồn vốn</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Nhân viên</a></li>
                      <li><a href="#" class="py-1 d-block p-link">Báo cáo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <ul class="p-ul">
          <li class="p-li"><a href="https://www.facebook.com/codegymdanang" target="_blank"><i class="fa-brands fa-facebook p-fa-brands"></i></a></li>
          <li class="p-li"><a href="https://www.instagram.com/codegymdanang/" target="_blank"><i class="fa-brands fa-instagram p-fa-brands"></i></a></li>
          <li class="p-li"><a href="https://www.google.com/search?q=c0422g1" target="_blank"><i class="fa-brands fa-google p-fa-brands"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-md-5">
      <div class="col-md-12">
        <p class="copyright">
          Copyright &copy;
          All rights reserved by C0422G1
        </p>
      </div>
    </div>
  </div>
</footer>
