<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="col-lg-4 col-md-6 col-sm-8 col-10 shadow-lg p-5 bg-white" style="border-radius: 0.5rem">
    <form [formGroup]="resetPasswordForm">
      <h4 class="text-center">Đặt lại mật khẩu</h4>
      <label class="form-label p-text-login text-center m-4  mb-0 d-block" for="form2Example1">Mật khẩu mới</label>
      <div class="form-outline mb-4 mt-2">
        <input formControlName="newPassword" type="password" id="form2Example1" placeholder="**********" class="w-100"
               [ngStyle]="{'color': resetPasswordForm.controls.newPassword.hasError('maxlength') ?'red': 'black'}"/>
        <hr>
      </div>
      <label class="form-label p-text-login text-center m-4  mb-0 d-block" for="form3Example1">Nhập lại mật khẩu</label>
      <div class="form-outline mb-4 mt-2">
        <input formControlName="confirmPassword" type="password" id="form3Example1" placeholder="**********"
               class="w-100"
               [ngStyle]="{'color': resetPasswordForm.hasError('passwordNotMatch')||
            resetPasswordForm.controls.confirmPassword.hasError('maxlength') ?'red': 'black'}"/>
        <hr>
        <button (click)="resetPassword()" [disabled]="resetPasswordForm.invalid" class="bn19 bn632-hover w-100 mt-4 shadow">Đặt lại mật khẩu</button>
      </div>
    </form>
  </div>

</div>
