.p-btn {
  background: linear-gradient(to right, #f37214, #ff3300);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.p-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 51, 0, 0.5);
}

thead {
  background: linear-gradient(to right, #f37214, #ff3300);
}

.p-bg {
  background: linear-gradient(to right, #f37214, #ff3300);
}

.chartCard {
  height: calc(50vh - 40px);
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  margin-left: 35px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}

.modal-2 li:first-child a {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
}
.modal-2 li:last-child a {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
}
.modal-2 a {
  border-color: #ddd;
  color: #999;
  background: #fff;
}
.modal-2 a:hover {
  color: #ff3300;
  background-color: #eee;
}
.modal-2 a.active, .modal-2 a:active {
  border-color: #ff3300;
  background: #ff3300;
  color: #fff;
}

.p-pagination {
  list-style: none;
  display: inline-block;
  position: fixed;
  padding: 0;
  margin-top: 10px;
  bottom: 10px;
}
.p-pagination li {
  display: inline;
  text-align: center;
}
.p-pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.p-pagination a.active {
  cursor: default;
}
.p-pagination a:active {
  outline: none;
}

.p-td{
  padding-left: 30px
}
.p-a{
  text-decoration: none;
  color: black;
}
.p-a:hover{
  color: #ff3300;
}

#bg-header{
  background: -webkit-gradient(linear, left top, right top, from(#f37214), to(orange));
  background: linear-gradient(to right, orange, #f37214);
}
.icon:hover{
  transform: translateY(-0.3rem);
  transition: .3s;
}

.function-bar:hover {
  background: linear-gradient(to right, #f37214, #ff3300);
  color: white;
}
.function-bar{
  border-radius: 0.25rem !important;
}
