<ngx-ui-loader></ngx-ui-loader>
<app-header></app-header>
<router-outlet *ngIf="!isLogin"></router-outlet>
<div class="row mt-2 mb-2" *ngIf="isLogin" style="--bs-gutter-x: 0">
  <div class="col-lg-2">
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <span style="color: #f37214;"><b>Chức năng</b></span>
          </a>
          <a routerLink="/contract-add" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Cầm đồ</span>
          </a>
          <a routerLink="/return-item" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Trả đồ</span>
          </a>
          <a routerLink="/liquidation" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Thanh Lý</span>
          </a>
          <a routerLink="/customer-list" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Quản lý Khách hàng</span>
          </a>
          <a routerLink="/employee-management" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Quản lý nhân viên</span>
          </a>
          <span class="btn btn-toggle align-items-center rounded collapsed
        list-group-item list-group-item-action py-2 ripple function-bar" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">
          Quản lý cửa hàng
        </span>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a class="list-group-item list-group-item-action py-2 ps-4 function-bar
              border-end-0 border-start-0" routerLink="/complete-contract">
                Thống kê
              </a></li>
              <li><a class="list-group-item list-group-item-action py-2 ps-4 function-bar
              border-end-0 border-start-0" routerLink="/finance" routerLinkActive="p-bg text-light">
                Tài chính
              </a></li>
              <li><a class="list-group-item list-group-item-action py-2 ps-4 function-bar
              border-end-0 border-start-0" routerLink="/transaction-history" routerLinkActive="p-bg text-light">
                Lịch sử giao dịch
              </a></li>
              <li><a class="list-group-item list-group-item-action py-2 ps-4 function-bar
              border-end-0 border-start-0" routerLink="/top-ten-transaction" routerLinkActive="p-bg text-light">
                10 giao dịch gần nhất
              </a></li>
              <li><a class="list-group-item list-group-item-action py-2 ps-4 function-bar
              border-end-0 border-start-0" routerLink="/pawn-item" routerLinkActive="p-bg text-light">
                Danh sách đồ trong kho
              </a></li>
            </ul>
          </div>
          <a routerLink="/news-list" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Tin tức</span>
          </a>
          <a routerLink="/employee-information" routerLinkActive="p-bg text-light"
             class="list-group-item list-group-item-action py-2 ripple function-bar">
            <span>Thông tin cá nhân</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-lg-10">
    <router-outlet *ngIf="isLogin" style="width: 100%"></router-outlet>
  </div>
</div>
<app-footer></app-footer>
