<section class="home" id="home">
  <div class="carousel slide home-slider" id="carouselExampleControls" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="box " style="background: url('../../../assets/img/img1.jpg') no-repeat;">
          <div class="content bg-dark bg-opacity-25 p-3">
            <span class="text-light">Bạn đang </span>
            <h3><strong>cần tiền gấp</strong></h3>
            <p class="text-light fs-5">Đăng ký trực tuyến <br>
              Nhận tiền sau 30 phút</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="box d-flex justify-content-start"
             style="background: url('https://vcdn1-sohoa.vnecdn.net/2022/03/07/iphone13-1646639012.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=pTYBAaS5x7Bci_8jRRMZ4w') no-repeat;">
          <div class="content bg-dark bg-opacity-25 p-3">
            <span class="text-light">Tài sản nào</span>
            <h3>cũng cầm được</h3>
            <p class="text-light fs-5">Vay nhanh như chớp <br>
              Định giá chuẩn, hạn mức cao!</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="box"
             style="background: url('https://s3.cloud.cmctelecom.vn/tinhte2/2020/02/4913290_cover_cua_hit_cua_tu_dong_tren_xe_o_to.jpg') no-repeat;">
          <div class="content bg-dark bg-opacity-25 p-3">
            <span class="text-light">Nhận tiền nhanh chóng</span>
            <h3>Vẫn có xe đi</h3>
            <p class="text-light fs-5">Miễn phí bảo hiểm rủi ro đối với tài sản suốt <br> thời gian cầm cố
            </p>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<div class="container mt-3">
  <div class="d-flex justify-content-center">
    <h1 class="p-text">Tại PAWN, bạn có thể cầm hầu hết tài sản</h1>
  </div>
  <div class="row mt-5">
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-gem fa-3x"></i></div>
      <div class="d-flex justify-content-center">Trang Sức</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-bag-shopping fa-3x"></i></div>
      <div class="d-flex justify-content-center">Túi Hiệu</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-mobile fa-3x"></i></div>
      <div class="d-flex justify-content-center">Điện Thoại</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-laptop fa-3x"></i></div>
      <div class="d-flex justify-content-center">Laptop</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-stopwatch fa-3x"></i></div>
      <div class="d-flex justify-content-center">Đồng Hồ</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-house fa-3x"></i></div>
      <div class="d-flex justify-content-center">Nhà Đất</div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-fire-burner fa-3x"></i></div>
      <div class="d-flex justify-content-center">Đồ Gia Dụng</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-camera fa-3x"></i></div>
      <div class="d-flex justify-content-center">Máy Ảnh</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-motorcycle fa-3x"></i></div>
      <div class="d-flex justify-content-center">Xe Máy</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-car fa-3x"></i></div>
      <div class="d-flex justify-content-center">Ô Tô</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-print fa-3x"></i></div>
      <div class="d-flex justify-content-center">Đồ Văn Phòng</div>
    </div>
    <div class="col-2 p-hover">
      <div class="d-flex justify-content-center"><i class="fa-solid fa-sim-card fa-3x"></i></div>
      <div class="d-flex justify-content-center">Sim Số Đẹp</div>
    </div>
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <h1 class="p-text">Đến với PAWN, bạn không còn phải lo về</h1>
  </div>
  <div class="row mt-5" style="height: 220px">
    <div class="col-6 p-bg-light p-hover">
      <div class="d-flex justify-content-center mt-5"><i class="fa-solid fa-circle-info fa-3x"></i></div>
      <div class="d-flex justify-content-center fs-2 m-3">Thủ tục lằng nhằng</div>
    </div>
    <div class="col-6 p-bg-light p-hover">
      <div class="d-flex justify-content-center mt-5"><i class="fa-solid fa-circle-info fa-3x"></i></div>
      <div class="d-flex justify-content-center fs-2 m-3">Lãi suất cao</div>
    </div>
  </div>
  <div class="row" style="height: 200px">
    <div class="col-6 p-bg-light p-hover">
      <div class="d-flex justify-content-center mt-5"><i class="fa-solid fa-circle-info fa-3x"></i></div>
      <div class="d-flex justify-content-center fs-2 m-3">Giải ngân chậm</div>
    </div>
    <div class="col-6 p-bg-light p-hover">
      <div class="d-flex justify-content-center mt-5"><i class="fa-solid fa-circle-info fa-3x"></i></div>
      <div class="d-flex justify-content-center fs-2 m-3">Tài sản bị hư hỏng</div>
    </div>
  </div>
</div>

<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h1 class="p-text my-4">Cầm đồ trong 4 bước</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <p class="border-bottom p-link"><strong>&#10112; Đem tài sản đến cửa hàng</strong></p>
        <div class="d-flex align-items-center justify-content-center p-bg mb-4 p-4">
          <i class="fa fa-2x fa-plane text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0 ms-3">Nhanh Chóng</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <p class="border-bottom p-link"><strong>&#10113; Định giá trong vòng 5 phút</strong></p>
        <div class="d-flex align-items-center justify-content-center p-bg mb-4 p-4">
          <i class="fa fa-2x fa-ship text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0 ms-3">Tiết Kiệm</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <p class="border-bottom p-link"><strong>&#10114; Ký hợp đồng cầm cố</strong></p>
        <div class="d-flex align-items-center justify-content-center p-bg mb-4 p-4">
          <i class="fa fa-2x fa-truck text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0 ms-3">Hiệu Quả</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <p class="border-bottom p-link"><strong>&#10115; Nhận ngay tiền mặt</strong></p>
        <div class="d-flex align-items-center justify-content-center p-bg mb-4 p-4">
          <i class="fa fa-2x fa-store text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0 ms-3">Uy Tín</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="text-center pb-2">
      <h1 class="p-text my-4">Tin tức gần đây</h1>
    </div>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="position-relative">
          <img class=" w-100" [src]="newsList[0].imgUrl" alt="" height="300px">
          <div class="position-absolute p-bg d-flex flex-column align-items-center justify-content-center rounded-circle"
               style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
            <h4 class="font-weight-bold mb-n1">{{newsList[0].postingDay | slice:8:10}}</h4>
            <small class="text-white text-uppercase">{{newsList[0].postingDay | slice: 5: 7}}</small>
          </div>
        </div>
        <div class="bg-light" style="padding: 30px;">
          <h4 class="font-weight-bold mb-3">{{newsList[0].title}}</h4>
          <p>{{newsList[0].content| slice:0:180}}...</p>
          <a class="border-bottom border-danger text-uppercase text-decoration-none p-link" routerLink="/news-list">Đọc thêm <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="position-relative">
          <img class=" w-100" [src]="newsList[1].imgUrl" alt="" height="300px">
          <div class="position-absolute p-bg d-flex flex-column align-items-center justify-content-center rounded-circle"
               style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
            <h4 class="font-weight-bold mb-n1">{{newsList[1].postingDay | slice:8:10}}</h4>
            <small class="text-white text-uppercase">{{newsList[1].postingDay | slice: 5: 7}}</small>
          </div>
        </div>
        <div class="bg-light" style="padding: 30px;">
          <h4 class="font-weight-bold mb-3">{{newsList[1].title}}</h4>
          <p>{{newsList[1].content| slice:0:180}}...</p>
          <a class="border-bottom border-danger text-uppercase text-decoration-none p-link" routerLink="/news-list">Đọc thêm <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-footer" id="register">
  <div class="row">
    <div class="col-md-8">
      <h3 class="d-flex justify-content-center mt-3"><span class="p-text fw-bold border-bottom">ĐIỀU KIỆN ĐẢM BẢO AN TOÀN</span>
      </h3>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="p-link" style="text-align: center">Các điều kiện an toàn cả về dòng tiền, nguồn vốn,
              cháy nổ, thuỷ kích, nắng mưa…
              <br> luôn được chúng tôi đề cao và luôn là một điều kiện để khách hàng tin tưởng và lựa chọn
              chúng tôi.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img style="width: 100%;height: auto"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Logo_of_Vietnam%27s_Ministry_of_Planning_and_Investment.png/220px-Logo_of_Vietnam%27s_Ministry_of_Planning_and_Investment.png"
                 alt="">
            <p class="d-flex justify-content-center mt-3"><span class="p-link">KINH DOANH CẦM ĐỒ</span></p>
          </div>
          <div class="col-4">
            <img style="width: 100%;height: auto"
                 src="assets/img/Vietnam_Immigration_Department_Logo.png"
                 alt="">
            <p class="d-flex justify-content-center mt-3"><span class="p-link">AN NINH TRẬT TỰ</span></p>
          </div>
          <div class="col-4">
            <img style="width: 100%;height: auto"
                 src="assets/img/pccc.png"
                 alt="">
            <p class="d-flex justify-content-center mt-3"><span class="p-link">PHÒNG CHÁY CHỮA CHÁY</span></p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="aside-stretch-right pl-lg-5 my-3">
        <h2 class="footer-heading footer-heading-white d-flex justify-content-center pt-3">
          <span class="register fs-3">ĐĂNG KÝ CẦM ĐỒ NHANH</span></h2>
        <!--        form quick register-->
        <form class="contact-form p-3" [formGroup]="quickContractForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="name" class="text-light"><strong>Tên bạn <span class="text-warning">*</span></strong></label>
            &nbsp;
            <span *ngIf="quickContractForm.controls.name.invalid && quickContractForm.controls.name.touched"
                  class="text-warning">
            <span *ngIf="quickContractForm.controls.name.errors.required">Vui lòng nhập</span>
            <span *ngIf="quickContractForm.controls.name.errors.pattern">Sai định dạng</span>
              </span>

            <input formControlName="name" name="name" id="name"
                   type="text" class="form-control text-black" placeholder="Tên bạn">
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="text-light">
              <strong>Số điện thoại <span class="text-warning">*</span></strong>
            </label>
            &nbsp;
            <span
              *ngIf="quickContractForm.controls.phoneNumber.invalid && quickContractForm.controls.phoneNumber.touched"
              class="text-warning">
            <span *ngIf="quickContractForm.controls.phoneNumber.errors.required">Vui lòng nhập</span>
            <span *ngIf="quickContractForm.controls.phoneNumber.errors.pattern">Sai định dạng</span>
              </span>

            <input formControlName="phoneNumber" name="phoneNumber" id="phoneNumber"
                   type="text" class="form-control" placeholder="Số điện thoại">
          </div>
          <div class="row form-group">
                        <span class="col-6">
                            <select class="form-select" (change)="changeCity($event.target)">
                                <option value="null">Thành Phố</option>
                                <option *ngFor="let cityObj of cities"
                                        [value]="cityObj.id"> {{cityObj.name}} </option>
                            </select>
                        </span>
            <div class="col-6">
              <select formControlName="districtId" name="districtId"
                      class="form-select">
                <option value="null">Quận/Huyện</option>
                <option *ngFor="let districtObj of districts" [ngValue]="districtObj.id">{{districtObj.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <select formControlName="pawnTypeId" name="pawnTypeId"
                    class="form-select">
              <option value="null">Chọn loại đồ</option>
              <option *ngFor="let pawnTypeObj of pawnTypes" [ngValue]="pawnTypeObj.id">{{pawnTypeObj.name}}</option>
            </select>
          </div>
          <div class="form-group d-flex justify-content-center">
            <button type="submit" class="p-btn-2"><span>Đăng ký ngay</span></button>
          </div>
        </form>
        <!--        form quick register-->
      </div>
    </div>
  </div>
</div>

<div class="hotline">
  <a class="bn632-hover bn19" href="tel: 0905137210">Hotline: 0904.04.04.04</a>
</div>
