<div class="content">

  <div class="container ps-5 pe-5">
    <div class="row align-items-stretch no-gutters contact-wrap">
      <div class="col-md-12">
        <div class="form h-100">
          <div class="row">
            <div class="col-md-11">
              <h3 class="header-color text-dark text-center">CHỈNH SỬA HỢP ĐỒNG</h3>
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <form class="mb-5" method="post" id="contactForm" name="contactForm" [formGroup]="contractForm">
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Mã hợp đồng
                </label>
                <input formControlName="code" hidden type="text" class="form-control pl-2">
                <div class="form-control pl-2">
                  {{contractForm.value.code}}
                </div>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Khách hàng
                </label>
                <select data-live-search="true" [compareWith]="compareWithId" class="selectpicker custom-select form-select" formControlName="customer">
                  <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer.name}} (Mã
                    KH: {{customer.id}})
                  </option>
                  <!--                  <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>-->
                  <!--                  <option data-tokens="mustard">Burger, Shake and a Smile</option>-->
                  <!--                  <option data-tokens="frosting">Sugar, Spice and all things nice</option>-->
                </select>
                <!--                <select [compareWith]="compareWithId" class="custom-select form-select" formControlName="customer">-->
                <!--                  <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer.name}} (Mã-->
                <!--                    KH: {{customer.id}})-->
                <!--                  </option>-->
                <!--                </select>-->
              </div>
            </div>

            <div class="row" formGroupName="pawnItem">
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Loại đồ
                </label>
                <select [compareWith]="compareWithId" class="custom-select form-select" formControlName="pawnType">
                  <option *ngFor="let pawnType of pawnTypeList" [ngValue]="pawnType">{{pawnType.name}}</option>
                </select>
              </div>

              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Tên đồ
                  <span style="color: red"
                        *ngIf="contractForm.get('pawnItem').get('name').hasError('required') &&
                        (contractForm.get('pawnItem').get('name').touched || contractForm.get('pawnItem').get('name').dirty)">
                    Không được để trống
                  </span>
                </label>
                <span style="color: red"> *</span>

                <input type="text" class="form-control pl-2" formControlName="name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Tiền cầm đồ (VNĐ)
                  <span style="color: red"
                        *ngIf="contractForm.get('itemPrice').hasError('min') &&
                        (contractForm.get('itemPrice').touched || contractForm.get('itemPrice').dirty)">
                    Không được nhỏ hơn 0
                  </span>
                  <span style="color: red"
                        *ngIf="contractForm.get('itemPrice').hasError('required') &&
                        (contractForm.get('itemPrice').touched || contractForm.get('itemPrice').dirty)">
                    Không được để trống
                  </span>
                  <span *ngIf="contractForm.controls.itemPrice.valid">{{money | number : '1.2-2'}} VNĐ</span>
                </label>
                <span style="color: red"> *</span>
                <input [(ngModel)]="money" type="number" class="form-control pl-2" formControlName="itemPrice">

              </div>
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Tiền lãi (%)
                  <span style="color: red"
                        *ngIf="contractForm.get('interestRate').hasError('required') &&
                        (contractForm.get('interestRate').touched || contractForm.get('interestRate').dirty)">
                    Không được để trống
                  </span>
                  <span style="color: red"
                        *ngIf="contractForm.get('interestRate').hasError('min') &&
                        (contractForm.get('interestRate').touched || contractForm.get('interestRate').dirty)">
                    Không được nhỏ hơn 0.2%
                  </span>
                  <span style="color: red"
                        *ngIf="contractForm.get('interestRate').hasError('max') &&
                        (contractForm.get('interestRate').touched || contractForm.get('interestRate').dirty)">
                    Không được lớn hơn 0.4%
                  </span>
                </label>
                <span style="color: red"> *</span>
                <input type="text" class="form-control pl-2" formControlName="interestRate">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Ngày làm hợp đồng
                </label>
                <span style="color: red"> *</span>
                <span style="color: red; font-size: 0.8rem" *ngIf="(contractForm.get('startDate').touched || contractForm.get('startDate').dirty)
               && contractForm.hasError('required', 'startDate')"> Ngày không được để trống.</span>
                <span style="color: red" *ngIf="(contractForm.get('startDate').touched || contractForm.get('startDate').dirty)
                && contractForm.hasError('checkDate')"> Không được lớn hơn ngày kết thúc.</span>
                <input type="date" class="form-control pl-2" formControlName="startDate">

              </div>
              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Ngày kết thúc hợp đồng
                </label>
                <span style="color: red"> *</span>
                <span style="color: red"
                      *ngIf="(contractForm.get('endDate').touched || contractForm.get('endDate').dirty) && contractForm.hasError('required', 'endDate')"> Không được để trống</span>
                <span style="color: red"
                      *ngIf="(contractForm.get('endDate').touched || contractForm.get('endDate').dirty) && contractForm.hasError('checkDate')"> Không được lớn hơn ngày bắt đầu</span>

                <input type="date" class="form-control pl-2" formControlName="endDate">
              </div>
            </div>

            <div class="row">

              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Loại hợp đồng
                </label>
                <input hidden type="text" class="form-control pl-2" formControlName="type">
                <div *ngIf="contractForm.value.type === true" class="form-control pl-2">
                  Thanh lý
                </div>
                <div *ngIf="contractForm.value.type === false" class="form-control pl-2">
                  Cầm đồ
                </div>
              </div>

              <div class="col-md-6 form-group mb-3">
                <label class="col-form-label">
                  Trạng thái
                </label>
                <input hidden type="text" class="form-control pl-2" formControlName="status">
                <div *ngIf="contractForm.value.status === 0 "
                     class="form-control pl-2">
                  Hợp đồng cầm đồ còn hạn
                </div>
                <div *ngIf="contractForm.value.status === 1 "
                     class="form-control pl-2">
                  Hợp đồng cầm đồ trả đúng hạn
                </div>
                <div *ngIf="contractForm.value.status === 2 "
                     class="form-control pl-2">
                  Hợp đồng chờ thanh lý
                </div>
                <div *ngIf="contractForm.value.status === 3 "
                     class="form-control pl-2">
                  Hợp đồng đã thanh lý
                </div>
                <div *ngIf="contractForm.value.status === 4 "
                     class="form-control pl-2">
                  Hợp đồng đăng ký nhanh
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-12 form-group mb-3">
                <label class="col-form-label">
                  Chọn ảnh
                  <span style="color: red"> *</span>
                  <span style="color: red" *ngIf="checkImgSize">Dung lượng ảnh quá lớn</span>
                  <span style="color: red" *ngIf="regexImg">Không đúng định dạng ảnh</span>
                </label>
                <input type="file" class="form-control pl-2" (change)="onFileSelected($event)">
              </div>
            </div>
            <div class="row">
              <div [hidden]="pawnItem.statusDelete == 1" class="img-box container-app geeks col-md-2 center-box" *ngFor="let pawnItem of urlListDisplayHtml; index as i" >
                <img  [src]="pawnItem.imgUrl" class="image" style="width: 150px; height: 150px; max-width: 100%; max-height: 100%; float: left">
                <div class="middle">
                  <button class="btn delete-file mr-2" (click)="delete(i)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9 form-group"></div>
              <div class="col-md-3 form-group" style="float: right">
                <button [disabled]="isLoading" style="width: 60%" value="Chỉnh sửa" class="icon p-btn m-0 p-0 " (click)="save()">
                  <span *ngIf="isLoading">
                    <span  class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...
                  </span>
                  <span *ngIf="!isLoading">Chỉnh sửa</span>
                </button>
                <button style="float: right; width: 30%" value="Đóng" class="icon p-btn-close m-0 p-0">
                  Đóng
                </button>
              </div>
              <div class="col-md-3 form-group"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
